<!DOCTYPE html>
<html lang="en">
<%- include('header.ejs') %>
<body>
  <%- include('head.ejs', {isJobRunning}) %>
  <ul>
    <li><a href="/iterations">Iterations</a></li>
    <li><a href="/screenshots">Screenshots</a></li>
    <li><a href="/users">Users</a></li>
    <li><a href="/bad_strings">Bad Strings</a></li>
    <li><a href="/discarded">Items Discarded</a></li>
    <li><a href="/prices">Prices</a></li>
    <li><a href="/unwanted_sets">Unwanted Sets</a></li>
    <li><a href="/items">All Sets</a></li>
    <li><a href="/items?onlyNoPrice=true">New Sets</a></li>
  </ul>
</body>
</html>